/* Set some defaults */
body {
        background-color: #F0E68C;
        font-family: Helvetica;
        margin: 0px;
}

/* Define headers, footer */
#header {
        background-color: #CD853F;
	color: #800000;
        padding: 10px;
        margin: 10px;
        height: 125px;
}
#formheader {
        background-color: #CD853F;
	color: #800000;
        padding: 10px;
        margin: 10px;
        height: 75px;
}
#footer {
        background-color: #CD853F;
        text-align: center;
        padding: 15px;
        margin: 10px;
}

/* content classes */
.item {
        background-color: #CD853F;
        padding: 15px;
        margin: 0px 10px 10px 10px;
}
.side {
    float: right;
    color: #800000;
}


/* form element styling */
input, textarea {
    background-color: #F0E68C;
    border: 1px solid #781351
}
button {
    background-color: #FFA20F;
    border: 2px outset #D7B9C9;
}
label {
    color: #800000;
}

/* link styling */
a {
    color: #800000;
}
a:hover {
    color: #FF0000;
}

/* header text */
h1, h2, h3, h4 {
    color: #800000;
}
