$def with (post, form, comments)
$var title: Edit $post.title
<div id="formheader">
  <h1>Edit $post.title</h1>
</div>

<div id="main">
  <form action="" method="post">
    $:form.render()
  </form>

  <h2>Delete $post.title</h2>
  <form action="/delete/$post.id" method="post">
    <button type="submit" value="Delete Post">Delete Post</button>
  </form>
</div>

<div id="main">
  <h3>Delete Comments</h2>
  <form action="/delcomments/$post.id" method="post">
    <button type="submit" value="Delete Comments">Delete Comments</button>
    $for comment in comments:
      <hr>
      <input type="checkbox" name="ids" value="$comment.id"/>
      <p>$comment.author</p>
      <p>$comment.date</p>
      <p>$comment.body</p>
</form>
</div>
